body {
    font-family: "Arial", serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.wrapper {
    vertical-align: middle;
    padding-top: 15%;
    padding-bottom: 20%;
}
.list_of_days {
	text-align: center;
	background-color: #CBCBCB;
	padding: 20px;
}

.list_of_days li {
    list-style-type: none;
    display: inline-block;
    background-color: #0094F8;
    color: #fff;
    padding: 15px 25px;
    border: 1px solid transparent;
}
.list_of_days li:hover {
	cursor: pointer;
}

li.the_day.today {
	background-color: #027D27;
}

.list_of_days li:not(:last-child) {
	margin-right: 20px;
}

p {
	text-align: center;
}

span.daynow {
	color: #027d27;
	font-weight: bold;
}

.selected_day {
	color: #0094f8;
	font-weight: bold;
}

li.the_day.selected {
	border: 1px solid #fff;
	-webkit-box-shadow: 0 0 5px #444;
	        box-shadow: 0 0 5px #444;
}

@media only screen and (max-width: 768px) {
	.list_of_days li {
    margin-bottom: 20px;
}
.list_of_days {
	padding-bottom: 0;
}
}